<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<!--BEGIN OTHERS________________________________________________________________________________________________________________________________-->
		<add key="DurationAlert" value="100000" />
		<add key="NAME_PAYPAD" value="Pay+ GANA" />
		<add key="LAST_NAME_PAYPAD" value="GANA" />
		<add key="NAME_APLICATION" value="WPFCFA.exe" />
		<add key="ImageBoucher" value="C:\Users\H-81\Pictures\WPFGANA\WPFGANA\bin\Debug\Images\BetPlay\Others\logo_gana_gris.png" />
		<add key="ValuesDispenser" value="DP:10000-DP:2000" />
		<add key="APLICATION_UPDATE" value="C:\Program Files (x86)\E-CITY\UpdateEcityInstaller\PayPlusUpdate.exe" />
		<!--END OTHERS-->
		<!--BEGIN PUERTOS DE LOS PERIFÉRICOS-->
		<add key="Port" value="COM16" />
		<add key="PortAP" value="COM1" />
		<add key="PortPrinter" value="USB001" />
		<add key="PrintBandrate" value="9600" />
		<add key="PortBarcode" value="COM14" />
		<add key="BarcodeBandrate" value="9600" />
		<!--END PUERTOS DE LOS PERIFÉRICOS-->
		<!--BEGIN TIMERS-->
		<add key="TimerGenerico" value="09:10" />
		<add key="TimerInactividad" value="00:40" />
		<add key="TimerModal" value="00:15" />
		<add key="TimerPublicity" value="4" />

		<!--END TIMERS-->
		<!--BEGIN SERVICES DATA-->
		<add key="Aplicacion" value="GANA" />
		<add key="Dispositivos" value="01" />
		<add key="Notify" value="BetPlay/NotifyRecharged" />
		<add key="IdMaquina" value="5383269" />
		<!--add key="identificacionMaquina" value="1020416481" /-->
		<add key="identificacionMaquina" value="5384210" />
		<add key="dane" value="05001" />
		<add key="RutaBarcode" value="C:\Users\Administrator\Desktop\WPFGANA\WPFGANA\bin\Debug\Barcode\code.png" />

		<!--END SERVICES DATA-->
		
		<!--Terminal Vending-->
		<!--Poblado-->
		<add key="Terminal" value="99999999938" />
		<!--Parque Berrio 1-->
		<!--add key="Terminal" value="99999999939" /-->
		<!--Parque Berrio 2-->
		<!--add key="Terminal" value="99999999940" /-->
		<!--Poblado 2-->
		<!--add key="Terminal" value="99999999941" /-->
		<!--Parque Berrio 3-->
		<!--add key="Terminal" value="99999999942" /-->
		<!--Andalucia-->
		<!--add key="Terminal" value="99999999943" /-->
		<!--End Terminal Vending-->

		<!--END SERVICES DATA-->

		<!--CodSitio Vending-->
		<!--Poblado-->
		<add key="Sitio" value="144388" />
		<!--Parque Berrio 1-->
		<!--add key="Sitio" value="144386" /-->
		<!--Parque Berrio 2-->
		<!--add key="Sitio" value="144385" /-->
		<!--Poblado 2-->
		<!--add key="Sitio" value="145307" /-->
		<!--Parque Berrio 3-->
		<!--add key="Sitio" value="145306" /-->
		<!--Andalucia-->
		<!--add key="Sitio" value="145307" /-->
		<!--End CodSitio Vending-->
		
		<!--BEGIN SERVICES INTEGRATION-->
		<add key="ValidateToken" value="BetPlay/ValidateToken" />
		<add key="ValidateServices" value="BetPlay/ValidateServices" />
		<add key="GetTokenBetPlay" value="BetPlay/GetToken" />
		<add key="ValidateUser" value="BetPlay/ValidateUser" />

		<!--SuperChance SERVICES INTEGRATION-->
		<add key="ValidateServicesSuperChance" value="SuperChance/ValidateServices" />
		<add key="ValidateTokenSuperChance" value="SuperChance/ValidateToken" />
		<add key="GetLotteries" value="SuperChance/LoadLotteries" />
		<add key="GetNumber" value="SuperChance/GetNum" />
		<add key="ValidateNumber" value="SuperChance/ValidateNumber" />
		<add key="LiquidarChance" value="SuperChance/LiquidarChance" />
		<add key="CrearChance" value="SuperChance/CreateChance" />
		<add key="Parametros" value="SuperChance/ChargeParameters" />

		<!--RecargarCel SERVICES INTEGRATION-->
		<add key="LoginMachine" value="RecargasGana/LoginVending" />
		<add key="GetPackets" value="RecargasGana/GetPackets" />
		<add key="CreatePack" value="RecargasGana/CreatePackets" />
		<add key="CreateProducts" value="RecargasGana/CreateProducts" />	
		<!--END SERVICES INTEGRATION-->
		
		<!--Request Data information for services Recharge-->

		<add key="latitud" value="6.217" />
		<add key="Longitud" value="-75.567" />
		<add key="idUV" value="103620" />
		<add key="idProductoRedPack" value="101078" />
		<add key="idProductoRedProduct" value="63" />
		<add key="ProviderPacket" value="PacketConexredProvider" />
		<add key="ProviderProduct" value="GenericRechargeConexredProvider" />


		<!--End Request Data Recharge-->
		<!--BEGIN SERVICES-->
		<add key="basseAddress" value="https://ppal.e-city.co/" />
		<!--Begin ApiIntegration-->
		<add key="basseAddressIntegration" value="https://apibetplay.e-city.co/" />
		<add key="basseAddressIntegrationSuperChance" value="https://apisuperchance.e-city.co/" />
		<add key="basseAddressIntegrationRecargas" value="https://apirecargascelular.e-city.co/" />

		<!--End ApiIntegration-->
		<!--Logs-->
		<add key="PathLog" value="C:\Users\Administrator\Desktop\WPFGANA\WPFGANA\bin\Debug\Log" />
		<!--End Logs-->
		<!--ApiCore-->
		<!--END SERVICES-->
		<!--BEGIN APIControllers-->
		<add key="ValidateDispenser" value="Administrator/ValidateMoneyDispenser" />
		<add key="GetToken" value="Authentication/Authenticate" />
		<add key="InitPaypad" value="PayPadAdministrator/InitPaypad" />
		<add key="SaveLog" value="PayPadAdministrator/SaveLog" />
		<add key="SaveLogError" value="PayPadAdministrator/SaveErrorLog" />
		<add key="SaveLogDevice" value="PayPadAdministrator/SaveLogDevice" />
		<add key="SaveTransaction" value="PayPadAdministrator/SaveTransaction" />
		<add key="UpdateTransaction" value="PayPadAdministrator/UpdateTransaction" />
		<add key="ValidateDispenserAmount" value="PayPadAdministrator/ValidateDispenserAmount" />
		<add key="SaveTransactionDetail" value="PayPadAdministrator/SaveTransactionDetail" />
		<add key="ValidateUserPayPad" value="PayPadAdministrator/ValidateUserPayPad" />
		<add key="GetBalance" value="PayPadAdministrator/GetBalance" />
		<add key="GetUpload" value="PayPadAdministrator/GetUpload" />
		<add key="SaveUpdateAdminOperation" value="PayPlusAdminController_MR/SaveUpdateAdminOperation" />
		<add key="SavePayer" value="PayPadAdministrator/SavePayer" />
		<add key="GetConsecutiveTransaction" value="PayPadAdministrator/GetConsecutiveTransaction" />
		<add key="SaveErrorConsole" value="Console/SaveErrorConsole" />
		<add key="GetInvoiceData" value="PayPadAdministrator/GetConsecutiveTransaction" />
		<!--END APIControllers-->
		<!--BEGIN ConexionDB-->
		<add key="ConnectionString" value="Data Source=C:\Users\Administrator\Desktop\WPFGANA\WPFGANA\bin\Debug\DataContext\DB_Local.db;Pooling=true;FailIfMissing=false;Version=3" />
		<!--END ConexionDB-->
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<system.serviceModel>
		<bindings />
		<client />
	</system.serviceModel>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Drawing.Common" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
		</assemblyBinding>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.3" newVersion="6.0.0.3" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
